@charset 'utf-8';

@media (min-width:940px){
    .container{
        padding:0 60px;
    }

    /* HEADER */
    .header .in::before{
        content:'';
        display:block;
        width:36px;
    }

    /* ABOUT */
    .about .in{
        flex-direction:row;
    }

    /* SKILLS */
    .skills .in{
        align-items: stretch;
    }
    .skills .skills-top{
        flex-direction: row;
    }
    .skills-top h3{
        margin-bottom: 0;
        flex: 1;
    }
    .skills-top p:first-of-type{
        display: block;
        flex: 1;
        text-align: left;
    }
    .skills-top p:last-of-type{
        display: none;
    }
    .skills-bottom ul{
        grid-template-columns: auto auto auto;
    }

    /* PROJECTS */
    .projects .container{
        width: 80%;
        max-width: 12800px;
        /* padding: 0 40px; */
    }
    .projects h3{
        align-self: flex-start;
    }
    .all-projects ul li{
        border: 1px solid rgba(255,255,255,0.5);
        border-bottom: none;
    }
    .all-projects ul li:last-child{
        border: 1px solid rgba(255,255,255,0.5);
    }

    /* CONTACT */
    .contact h2{
        text-align: left;
    }
    .contact .in{
        max-width: 100%;
        grid-template-columns: repeat(3,1fr);
    }
}   